.menu__button{
    position: relative;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .title{
        display: none;
        margin: 0 10px;
    }
    &:after{
        content: '';
        background-color: #2899ff;
        transition-duration: .3s;
        transition-property: background-color;
    }

}

@media (max-width: 475px){
    .menu__button{
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #1eb1fc;
        & .title{
            display: inline;
        }
    }
}
:host:not(:first-child){
    .menu__button{
        &:hover,&.active{
            transition-duration: .3s;
            transition-property: background-color;
            &:after{
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                transform: rotate(45deg);
                background-color: #2689e6;
                right: -5px;
                top: 50%;
                margin-top: -5px;

            }
            background-color: #2689e6;
        }
    }
}