@import "../../../config/globals";

.modal-body {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  .__location {
    margin: 10px auto auto;
  }

  .project-form {
    display: flex;
    flex-direction: column;
    .__input {
      margin: 4px;
      border: 1px solid @c-gray-light;
      border-radius: 4px;
      background: none;
      width: 80%;
      align-self: center;
      padding: 4px;
    }
    .__invalid {
      border: 1px solid red;
    }
    .__input::placeholder {
      font-size: 16px;
    }
  }

  .bitbusket-form {
    display: flex;
    flex-direction: column;
    .bitbucket-view {
      margin: 10px;
      align-self: center;
      width: 64px;
      height: 64px;

      background: none;
      border: none;
      padding: 0;

      float: right;

      position: relative;
      opacity: 1;

      .bitbucket_icon {
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../../../images/icons/bit.png');
        position: absolute;
        left: 18%;
        top: 18%;

        margin: -12px -12px;
        opacity: 2;

      }
      .bitbucket_on {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 64px;
        height: 64px;

        cursor: pointer;
        position: absolute;
        opacity: -1;
      }
    }
    .choose-repository-view {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      .choose-repository-title {
        font-size: @medium-text-size - 2px;
        color: @c-black-light;
        margin: 0 auto 10px auto;
        padding: 10px;
      }

      .choose-repository {
        font-size: @small-text-size;
        color: @c-black-light;
        margin: 0 auto 10px auto;
        padding: 10px;
        .choose-repository-selector {
          width: 100%;
        }
      }
    }
    .choose-branch-view {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: auto;
      .choose-branch-title {
        font-size: @medium-text-size - 2px;
        color: @c-black-light;
        margin: 0 auto 10px auto;
        padding: 10px;
      }

      .choose-branch {
        font-size: @small-text-size;
        color: @c-black-light;
        margin: 0 auto 10px auto;
        padding: 10px;
        .choose-branch-selector {
          width: 100%;
        }
      }
    }
  }
}
