<router-outlet></router-outlet>

<div class="animated-bot __location __moving-antenns __loading" id="loaderBot">
  <div class="bot-head">
    <div class="bot-eye"></div>
    <div class="bot-mouth"></div>
    <div class="bot-left-ear">
      <div class="antenna-left"></div>
    </div>
    <div class="bot-right-ear">
      <div class="antenna-right"></div>
    </div>
  </div>
</div>
