<div class="main-dashboard-wrapper">
  <app-task-redaction *ngIf="isShowTaskRedaction"
                      (close)="closeTaskRedaction()"
                      [task]="curTaskForRedaction"
                      [curUserId]="userService.userId">
  </app-task-redaction>
  <!--<div class="dashboard-header">
    <div class="title">
    </div>
  </div>-->
  <div class="main-dashboard-container" *ngIf="!isShowTaskRedaction">
    <div class="task-dashboard-container">
      <app-task-list *ngFor="let status of statusList"
                     [status]="status"
                     [taskList]="currentDashboardService.dashboardData[status]"
                     (editTask)="openTaskRedaction($event)">
      </app-task-list>
    </div>
  </div>

  <div class="main-dashboard__info-bar--open" (click) = "toMenu()" [class.active]="view.show"><i class="fas fa-ellipsis-h"></i></div>
  <div class="main-dashboard__info-bar" *ngIf="view.show">
    <div class="info-bar__header">
      <h3>Меню</h3>
    </div>
    <div class="info-bar__members under-line">
      <div class="info-bar__title-groups">Участники</div>
      <div class="members__avatars">
        <div *ngFor="let member of members" class="avatars__avatar-item" [title]="member.name" [ngStyle]="{'background-image': 'url('+member.avatar+')'}">
          
            <svg _ngcontent-c8="" *ngIf="!member.avatar" _ngcontent-c1="" aria-hidden="true" class="avatar svg-inline--fa fa-user-circle fa-w-26" data-fa-i2svg="" data-icon="user-circle" data-prefix="fas" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-c8="" d="M8 256C8 119.033 119.033 8 256 8s248 111.033 248 248-111.033 248-248 248S8 392.967 8 256zm72.455 125.868C119.657 436.446 183.673 472 256 472s136.343-35.554 175.545-90.132c-3.141-26.99-22.667-49.648-49.538-56.366l-32.374-8.093C323.565 339.79 290.722 352 256 352s-67.565-12.21-93.634-34.591l-32.374 8.093c-26.87 6.718-46.396 29.376-49.537 56.366zM144 208c0 61.856 50.144 112 112 112s112-50.144 112-112S317.856 96 256 96s-112 50.144-112 112z" fill="currentColor"></path></svg>
          
        </div>
      </div>
      <div class="members__add" *ngIf="!view.showUrl" >
        <button class="" (click)="view.showUrl = !view.showUrl">Добавить</button>
      </div>
      <div class="members__add-input" *ngIf="view.showUrl">
        <div class="add-input__refresh" (click)="refreshShareLink()"><i class="fas fa-sync"></i></div>
        <input [value]="view.baseShareUrl+'/share/'+view.shareUrl" id="input"/>
        <div class="add-input__copy" (click) = "copyShareLink()"><i class="fas fa-copy"></i></div>
      </div>
    </div>
    <div class="history" *ngIf="currentDashboardService.eventsData.length">
      <div class="info-bar__title-groups">События</div>
      <div class="history__events-list">
        <app-event  *ngFor="let event of currentDashboardService.eventsData.reverse()" [event]=event></app-event>
  </div>
</div>
