<div class="events-list__event-item" [class.show]="show">
  <div class="avatar" *ngIf = "avatar" [ngStyle]="{'background-image': 'url('+avatar+')'}"></div>
  <svg _ngcontent-c1="" *ngIf = "!avatar" class="avatar svg-inline--fa fa-user-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="user-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M8 256C8 119.033 119.033 8 256 8s248 111.033 248 248-111.033 248-248 248S8 392.967 8 256zm72.455 125.868C119.657 436.446 183.673 472 256 472s136.343-35.554 175.545-90.132c-3.141-26.99-22.667-49.648-49.538-56.366l-32.374-8.093C323.565 339.79 290.722 352 256 352s-67.565-12.21-93.634-34.591l-32.374 8.093c-26.87 6.718-46.396 29.376-49.537 56.366zM144 208c0 61.856 50.144 112 112 112s112-50.144 112-112S317.856 96 256 96s-112 50.144-112 112z"></path></svg>
  <div class="text">
    <span class="name">@{{login}}</span> {{action}} <span class="task">{{task}}</span> в <span class="board">{{board}}</span>
  </div>
</div>
