<div class="task-list-wrapper">
  <div class="task-list-header">
    <div class="task-list-title">
      {{status}}
    </div>
  </div>
  <div class="task-list-container" droppable="true" (onDrop)="changeTaskStatus($event)">
    <app-task *ngFor="let task of taskList"
              [task]="task"
              (edit)="onEditTask($event)">
    </app-task>
    <app-task [isEdit]="isAdd"
              *ngIf="isAdd"
              [task]="{
                id: underfined,
                discription: '',
                status: status}"
              (closeAddedTask)="onAddNewTask()">
    </app-task>
  </div>
  <div class="task-list-footer">
    <button class="add-task"
            (click)="onAddNewTask()">
      NEW TASK
    </button>
  </div>
</div>
