:host{
  width: inherit;
  margin: 10px auto auto;
  overflow: hidden;
}

.main-list-wrapper {
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  .__location-bot {
    align-self: center;
  }

  h1 {
    text-align: center;
    font-size: 24px;
  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
